.header-logo {  
  background-image: url(../images/home/logo.png);
  background-size: cover;
  width: 85px;
  height: 85px;
  background-repeat: no-repeat;
}

.header-nav {
  padding: 0;
  margin: 0;
  z-index: 500;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.header-nav a {
  text-decoration: none;
}

.header-nav a:hover {
  text-decoration: underline;
}

.menu-icon {
  display: none;
}

.header-nav[toggle] {
  display: block;
  animation: fade-in 400ms forwards, slide-up 400ms forwards;
}

.header-txt1{
  display: none;
}


@media only screen and (max-width: 999px) {
  nav ul{
    position: absolute;
    top: 30px;
    flex-direction: column;
    text-align: center;
    background-color: #1A1A1A;       
    /* height: 0; */
    overflow: hidden;
    /* transition: height 0.3s ease-out; */
  }
  nav ul li {
    width: 100%;
    padding: 10px;
    list-style: none;
  }

  nav ul li:nth-child(3) {
    display: none;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    color: white;    
    margin-left: 40px;
    font-size: 30px;
  }

  #menulist{
    transition: all 0.5s ease-out;
  }

  .header-txt1{
    display: block;
    font-size: 50px;
    font-weight: 400;
    background: linear-gradient(to left, #fefa01, #E8371B);
    -webkit-background-clip: text;
    color: transparent;
    padding-right: 30px;
  }
}

