/* application borders */
/* borders */
/* border radius */

.lrv-border {
    border: var(--border-width) var(--border-style) !important;
}

.lrv-border-0 {
    border: 0 !important;
}

.lrv-border-top {
    border-top: var(--border-width) var(--border-style) !important;
}

.lrv-border-top-0 {
    border-top: 0 !important;
}

.lrv-border-end {
    border-right: var(--border-width) var(--border-style) !important;
}

.lrv-border-end-0 {
    border-right: 0 !important;
}

.lrv-border-bottom {
    border-bottom: var(--border-width) var(--border-style) !important;
}

.lrv-border-bottom-0 {
    border-bottom: 0 !important;
}

.lrv-border-start {
    border-left: var(--border-width) var(--border-style) !important;
}

.lrv-border-start-0 {
    border-left: 0 !important;
}

.lrv-border-light {
    border-color: var(--main-light) !important;
}

.lrv-border-dark {
    border-color: var(--main-dark) !important;
}

.lrv-border-primary-100 {
    border-color: var(--primary-100) !important;
}

.lrv-border-primary-200 {
    border-color: var(--primary-200) !important;
}

.lrv-border-primary-300 {
    border-color: var(--primary-300) !important;
}

.lrv-border-primary-400 {
    border-color: var(--primary-400) !important;
}

.lrv-border-primary-500 {
    border-color: var(--primary-500) !important;
}

.lrv-border-primary-600 {
    border-color: var(--primary-600) !important;
}

.lrv-border-primary-700 {
    border-color: var(--primary-700) !important;
}

.lrv-border-primary-800 {
    border-color: var(--primary-800) !important;
}

.lrv-border-primary-900 {
    border-color: var(--primary-900) !important;
}

.lrv-border-secondary-100 {
    border-color: var(--secondary-100) !important;
}

.lrv-border-secondary-200 {
    border-color: var(--secondary-200) !important;
}

.lrv-border-secondary-300 {
    border-color: var(--secondary-300) !important;
}

.lrv-border-secondary-400 {
    border-color: var(--secondary-400) !important;
}

.lrv-border-secondary-500 {
    border-color: var(--secondary-500) !important;
}

.lrv-border-secondary-600 {
    border-color: var(--secondary-600) !important;
}

.lrv-border-secondary-700 {
    border-color: var(--secondary-700) !important;
}

.lrv-border-secondary-800 {
    border-color: var(--secondary-800) !important;
}

.lrv-border-secondary-900 {
    border-color: var(--secondary-900) !important;
}

.lrv-border-accent-100 {
    border-color: var(--accent-100) !important;
}

.lrv-border-accent-200 {
    border-color: var(--accent-200) !important;
}

.lrv-border-accent-300 {
    border-color: var(--accent-300) !important;
}

.lrv-border-accent-400 {
    border-color: var(--accent-400) !important;
}

.lrv-border-accent-500 {
    border-color: var(--accent-500) !important;
}

.lrv-border-accent-600 {
    border-color: var(--accent-600) !important;
}

.lrv-border-accent-700 {
    border-color: var(--accent-700) !important;
}

.lrv-border-accent-800 {
    border-color: var(--accent-800) !important;
}

.lrv-border-accent-900 {
    border-color: var(--accent-900) !important;
}

.lrv-border-red-100 {
    border-color: var(--red-100) !important;
}

.lrv-border-red-200 {
    border-color: var(--red-200) !important;
}

.lrv-border-red-300 {
    border-color: var(--red-300) !important;
}

.lrv-border-red-400 {
    border-color: var(--red-400) !important;
}

.lrv-border-red-500 {
    border-color: var(--red-500) !important;
}

.lrv-border-red-600 {
    border-color: var(--red-600) !important;
}

.lrv-border-red-700 {
    border-color: var(--red-700) !important;
}

.lrv-border-red-800 {
    border-color: var(--red-800) !important;
}

.lrv-border-red-900 {
    border-color: var(--red-900) !important;
}

.lrv-border-1 {
    border-width: 1px !important;
}

.lrv-border-2 {
    border-width: 2px !important;
}

.lrv-border-3 {
    border-width: 3px !important;
}

.lrv-border-4 {
    border-width: 4px !important;
}

.lrv-border-5 {
    border-width: 5px !important;
}

.lrv-rounded {
    border-radius: var(--border-radius) !important;
}

.lrv-rounded-0 {
    border-radius: 0 !important;
}

.lrv-rounded-1 {
    border-radius: var(--border-radius-sm) !important;
}

.lrv-rounded-2 {
    border-radius: var(--border-radius) !important;
}

.lrv-rounded-3 {
    border-radius: var(--border-radius-lg) !important;
}

.lrv-rounded-circle {
    border-radius: 50% !important;
}

.lrv-rounded-pill {
    border-radius: var(--border-radius-pill) !important;
}

.lrv-rounded-top {
    border-top-left-radius: var(--border-radius) !important;
    border-top-right-radius: var(--border-radius) !important;
}

.lrv-rounded-top-0 {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.lrv-rounded-top-1 {
    border-top-left-radius: var(--border-radius-sm) !important;
    border-top-right-radius: var(--border-radius-sm) !important;
}

.lrv-rounded-top-2 {
    border-top-left-radius: var(--border-radius) !important;
    border-top-right-radius: var(--border-radius) !important;
}

.lrv-rounded-top-3 {
    border-top-left-radius: var(--border-radius-lg) !important;
    border-top-right-radius: var(--border-radius-lg) !important;
}

.lrv-rounded-top-circle {
    border-top-left-radius: 50% !important;
    border-top-right-radius: 50% !important;
}

.lrv-rounded-top-pill {
    border-top-left-radius: var(--border-radius-pill) !important;
    border-top-right-radius: var(--border-radius-pill) !important;
}

.lrv-rounded-end {
    border-top-right-radius: var(--border-radius) !important;
    border-bottom-right-radius: var(--border-radius) !important;
}

.lrv-rounded-end-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.lrv-rounded-end-1 {
    border-top-right-radius: var(--border-radius-sm) !important;
    border-bottom-right-radius: var(--border-radius-sm) !important;
}

.lrv-rounded-end-2 {
    border-top-right-radius: var(--border-radius) !important;
    border-bottom-right-radius: var(--border-radius) !important;
}

.lrv-rounded-end-3 {
    border-top-right-radius: var(--border-radius-lg) !important;
    border-bottom-right-radius: var(--border-radius-lg) !important;
}

.lrv-rounded-end-circle {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}

.lrv-rounded-end-pill {
    border-top-right-radius: var(--border-radius-pill) !important;
    border-bottom-right-radius: var(--border-radius-pill) !important;
}

.lrv-rounded-bottom {
    border-bottom-right-radius: var(--border-radius) !important;
    border-bottom-left-radius: var(--border-radius) !important;
}

.lrv-rounded-bottom-0 {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.lrv-rounded-bottom-1 {
    border-bottom-right-radius: var(--border-radius-sm) !important;
    border-bottom-left-radius: var(--border-radius-sm) !important;
}

.lrv-rounded-bottom-2 {
    border-bottom-right-radius: var(--border-radius) !important;
    border-bottom-left-radius: var(--border-radius) !important;
}

.lrv-rounded-bottom-3 {
    border-bottom-right-radius: var(--border-radius-lg) !important;
    border-bottom-left-radius: var(--border-radius-lg) !important;
}

.lrv-rounded-bottom-circle {
    border-bottom-right-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}

.lrv-rounded-bottom-pill {
    border-bottom-right-radius: var(--border-radius-pill) !important;
    border-bottom-left-radius: var(--border-radius-pill) !important;
}

.lrv-rounded-start {
    border-bottom-left-radius: var(--border-radius) !important;
    border-top-left-radius: var(--border-radius) !important;
}

.lrv-rounded-start-0 {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.lrv-rounded-start-1 {
    border-bottom-left-radius: var(--border-radius-sm) !important;
    border-top-left-radius: var(--border-radius-sm) !important;
}

.lrv-rounded-start-2 {
    border-bottom-left-radius: var(--border-radius) !important;
    border-top-left-radius: var(--border-radius) !important;
}

.lrv-rounded-start-3 {
    border-bottom-left-radius: var(--border-radius-lg) !important;
    border-top-left-radius: var(--border-radius-lg) !important;
}

.lrv-rounded-start-circle {
    border-bottom-left-radius: 50% !important;
    border-top-left-radius: 50% !important;
}

.lrv-rounded-start-pill {
    border-bottom-left-radius: var(--border-radius-pill) !important;
    border-top-left-radius: var(--border-radius-pill) !important;
}
